@charset "UTF-8";
#wrap {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	border-collapse: collapse;
}

table {
	
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	line-height: 2;
}
h1 {
	color: yellow;
}
th {
	background-color: yellow;
}
th, td {
	border: 1px solid #d3d3d3;
	
}
a {
	text-decoration: none;
	margin-bottom: 10px;
}
a:hover {
	color: #999;
}
img {
	width: 100%;
	height: 100%;
}